<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${category}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <!--Meniu-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TechStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Produse
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/produse}">Toate Produse</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/telefoane}">Telefoane</a></li>
                            <li><a class="dropdown-item" th:href="@{/laptopuri}">Laptopuri</a></li>
                            <li><a class="dropdown-item" th:href="@{/tablete}">Tablete</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex m-auto" role="search" th:action="@{/search}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyWord">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <a class="btn btn-outline-success" id="register" th:href="@{/inregistrare}">Register</a>
                <a class="btn btn-outline-success" id="login" th:href="@{/login}">Login</a>
                <a class="btn btn-outline-success" id="logout" th:href="@{/logout}">Logout</a>
                <a class="btn btn-outline-success" id="cart" th:href="@{/cos}">Cart</a>
            </div>
        </div>
    </nav>
    <!--Sfarsait meniu-->

    <!--Numarul de produse per pagina-->
    <form th:action="@{/produse}" method="get" style="text-align: right; margin-right: 2.5rem" th:unless="${productPage.empty}">
        <label for="pageSizeSelect">Items per page:</label>
        <select id="pageSizeSelect" name="size" onchange="this.form.submit()">
            <option value="9" th:selected="${pageSize == 9}">9</option>
            <option value="12" th:selected="${pageSize == 12}">12</option>
            <option value="15" th:selected="${pageSize == 15}">15</option>
        </select>
    </form>



    <!--Afisarea pe rand a tuturor produselor-->
    <div class="container-fluid d-flex justify-content-left align-items-stretch" style="flex-wrap: wrap; padding-left: 2rem;">
        <div class="card" style="width: 12rem; margin: 0.25rem" th:each="produs : ${productPage.content}">
                <img th:src="'data:image/jpeg;base64,' + ${produs.getImage()}" class="card-img-top" alt="Product Image" />
                <div class="card-body">
                    <a th:href="@{|${currentURL}/id:${produs.getId()}|}">
                        <h5 class="card-title" th:text="${produs.getNume()}"></h5>
                    </a>
                    <p class="card-text" th:text="${produs.getCategory()}"></p>
                    <h3 class="card-text" th:text="${produs.getPret()}"></h3>
                </div>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center" th:if="${productPage.empty}">
        <h3 th:if="productPage.empty">Nu s-au gasit produse conform cautarii.</h3>
    </div>
    <!--Sfarsitul afisarii-->

    <!--Paginare-->
    <nav aria-label="..."  th:unless="${productPage.empty}">
        <ul class="pagination" style="justify-content: right;margin-right: 2.5rem;margin-top: 1rem">
            <li class="page-item " th:classappend="${productPage.first ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${currentURL}(page=0, size=${productPage.size})}">First</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, productPage.totalPages - 1)}" th:classappend="${productPage.number == pageNumber ? 'active' : ''}">
                <a class="page-link" th:href="@{${currentURL}(page=${pageNumber}, size=${productPage.size})}" th:text="${pageNumber + 1}"></a>
            </li>

            <li class="page-item" th:classappend="${productPage.last ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${currentURL}(page=${productPage.totalPages - 1}, size=${productPage.size})}">Last</a>
            </li>
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        var reg=document.getElementById("register");
        var login=document.getElementById("login");
        var logout=document.getElementById("logout");
        if(localStorage.getItem("jwt")==null){
            reg.style.display="none";
            login.style.display="none";
        }
        if(localStorage.getItem("jwt")!=null){
            logout.style.display="none";
        }
    </script>
</body>
</html>